.home-banner{
    width: 80%;
    margin: 0 auto;
    background-color: #00AFBC;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    
}
.banner-info{
 width: 40%;
}
.banner-img img{
    width: 80%;
}

@media only screen and (max-width: 576px){
    .home-banner{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

        .banner-info {
            width: 95%;
        }
    
        .banner-img img {
            width: 95%;
        }
}